@import "src/assets/styles/templates";

.cell {

  .coast {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #fff;
  }

  .imageWrapper {
    background: #fff;
  }

  .image {
    object-fit: fill;
    width: 100%;
    height: 100%;
  }
}

.corner {
  width: 115px;
  height: 115px;
  background: #fff;

  .image {
    object-fit: fill;
    width: 100%;
    height: 100%;
  }
}

.top {
  @include flex-col-gap(1px);

  .coast {
    height: 35px;
    width: 65px;
  }

  .imageWrapper {
    height: 115px;
    width: 65px;
  }
}

.right {
  @include flex-row-gap(1px);
  flex-direction: row-reverse;

  .coast {
    width: 35px;
    height: 65px;
    writing-mode: vertical-rl;
  }

  .imageWrapper {
    width: 115px;
    height: 65px;
  }
}

.bottom {
  @include flex-col-gap(1px);
  flex-direction: column-reverse;

  .coast {
    height: 35px;
    width: 65px;
  }

  .imageWrapper {
    height: 115px;
    width: 65px;
  }
}

.left {
  @include flex-row-gap(1px);

  .coast {
    width: 35px;
    height: 65px;
    writing-mode: vertical-rl;
  }

  .imageWrapper {
    width: 115px;
    height: 65px;
  }
}