@import "src/assets/styles/templates";

.form {
  @include flex-col-gap(40px);

  max-width: 700px;
  margin: 200px auto;
  padding: 40px;

  background: #150050;

  h1 {
    color: #FFF;

    font-size: 40px;
  }

  .block {
    @include flex-col-gap(20px);

    span {
      color: #FFF;
      font-size: 30px;
    }

    input {
      height: 68px;

      padding: 0 20px;
      font-size: 24px;

      color: #FFF;
      background: transparent;
      border: 1px solid #FFF;
    }
  }

  button{
    height: 68px;
  }
}