@import "src/assets/styles/templates";

// all styles
.wrapper {
  @include flex-col-gap(8px);
  position: relative;
  width: 100%;
}

.label {
  color: #FFF;
  font-size: 24px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.input {
  width: 100%;

  color: #fff;
  border: 1px solid #A066BF;
  background: #150050;
  border-radius: 8px;

  font-size: 18px;
  font-weight: 400;

  height: 60.5px;
  padding: 0 15px;
}

.withError {
  border-color: orangered;
}