.wrapper{
  width: 280px;
  height: 160px;
  background: #3F0071;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  gap: 5px;
}
.disabled{
  opacity: 0.6;
}
.avatar{
  border: 3px solid white;
  border-radius: 50%;
  min-height: 64px;
  width: 64px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.name{
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.price{
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.walking{
  border: 3px solid #A066BF;

}