@import "src/assets/styles/templates";

.title {
  color: #FFF;
  font-size: 50px;
  font-weight: 700;
}

.mainSection {
  @extend %wrapper;
  @include flex-row-gap(60px);
  align-items: center;

  padding: 60px 0;

  .content {
    @include flex-col-gap(40px);
    width: 100%;

    p {
      color: #FFF;
      font-size: 30px;
    }

    a {
      width: max-content;
    }
  }

  .img {
    width: 467px;
    height: 467px;
  }
}

.purposeSection {
  padding: 60px 0;
  background: #21005B;

  .content {
    @extend %wrapper;
    @include flex-col-gap(60px);
  }

  p {
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    line-height: 130%;
  }

  a {
    width: max-content;
  }
}