@import "src/assets/styles/templates";

.wrapper {
  @extend %wrapper;
}

.content {
  @include flex-col-gap(50px);
  padding: 40px 0;
}

.header {
  @include flex-row-gap(20px);
  justify-content: space-between;

  padding: 32px 0;
  border-bottom: 1px solid #A066BF;

  h2 {
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
  }
}

.list {
  @include flex-col-gap(20px);
}

.emptyItem {
  color: #FFF;
  font-size: 40px;
  font-weight: 500;
}